:global {
  .transport {
    font-weight: bold;
    font-size: 16px;
    position: relative;
    padding-left: 15px;
  }
  .transport::before {
    content: '';
    width: 5px;
    height: 20px;
    background: #1890ff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    border-radius: 5px;
  }
  .tran-logistics {
    border-bottom: 1px dashed #e8e8e8;
  }
  .tran-logistics:nth-last-child(1) {
    border-bottom: none;
  }
  .ant-form-item-control-vehicleno {
    margin-left: 8px;
  }
}

.trader {
  color: #1890ff;
}

.truckingOrder {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f0f2f5;

  :global {
    .am-navbar {
      position: static;
    }

    .ant-card-head {
      padding: 0 16px;
      min-height: 42px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 0;
    }

    .ant-card-body {
      padding: 0;
    }

    .am-list {
      position: static;

      .am-list-item {
        padding: 0 16px;

        .am-list-content {
          font-size: 14px;
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      .am-list-item:not(:last-child) {
        .am-list-line {
          border-bottom: 1px solid #ddd !important;
        }
      }
    }
  }

  .content {
    flex: 1;
    padding: 12px;
    overflow-y: auto;
  }

  .footer {
    border-top: 1px solid #DDD;
    padding: 8px 12px;
  }
}
