:global {
  .transport {
    font-weight: bold;
    font-size: 16px;
    position: relative;
    padding-left: 15px;
  }
  .transport::before {
    content: '';
    width: 5px;
    height: 20px;
    background: #1890ff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    border-radius: 5px;
  }
  .tran-logistics {
    border-bottom: 1px dashed #e8e8e8;
  }
  .tran-logistics:nth-last-child(1) {
    border-bottom: none;
  }
  .ant-form-item-control-vehicleno {
    margin-left: 8px;
  }
}

.trader {
  color: #1890ff;
}
