///* 支付密码开始 */
//.inputBox {
//  position: relative;
//  width: 336px;
//  margin: 0 auto;
//  display: flex;
//  justify-content: space-between;
//  font-weight: bold;
//  :global{
//    //.inputBox {
//    //  position: relative;
//    //  width: 336px;
//    //  margin: 0 auto;
//    //  display: flex;
//    //  justify-content: space-between;
//    //  font-weight: bold;
//    //}
//
//    .box-container div, .box-containers div{
//      width: 3rem;
//      height: 3rem;
//      font-size: 1.6rem;
//      border: none;
//      margin-right: 0;
//      color: transparent;
//      .shake{
//        color: #333;
//      }
//    }
//    .showDiv{
//      display: flex;
//      justify-content: space-between;
//      width: 100%;
//    }
//    .codeItem {
//      width: 48px;
//      height: 48px;
//      line-height: 48px;
//      text-align: center;
//      background: #ededed;
//      border-radius: 5px;
//      font-size: 26px;
//    }
//    .codeInput {
//      height: 48px;
//      position: absolute;
//      outline: none;
//      color: transparent;
//      caret-color: #ebecf0;
//      font-size: 28px;
//      padding: 0 14px;
//      letter-spacing: 48px;
//      width: 336px;
//      border: none;
//      background: none;
//      -webkit-appearance: none;
//    }
//    .codeInput:focus {
//      border: none !important;
//      box-shadow: 0 0 0 0 #fff;
//    }
//  }
//}
//.inputBox>div:nth-of-type(1){
//  position: absolute;
//  width: 100%;
//  :global{
//    .box-root-container{
//      width: 100%;
//      .box-container{
//        display: flex;
//        justify-content: space-between;
//        width: 100%;
//      }
//    }
//  }
//}
///* 支付密码结束 */
/* 支付密码开始 */
:global {
  .pay-pass-word {
    width: 100% !important;
    align-items: center;
  }
  .pay-modal{
    width: 90% !important;
  }
}


.inputBox {
  position: relative;
  width: 336px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  height: 48px;

  :global {

    .box-container div, .box-containers div {
      width: 3rem;
      height: 3rem;
      font-size: 1.6rem;
      margin-right: 0;
      border: 1px solid #80808059 !important;
      border-radius: 3px;
      background: #f8f8f8;

      .shake {
        color: #333;
      }
    }

    .showDiv {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .codeItem {
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      background: #ededed;
      border-radius: 5px;
      font-size: 26px;
    }

    .codeInput {
      height: 48px;
      position: absolute;
      outline: none;
      color: transparent;
      caret-color: #ebecf0;
      font-size: 28px;
      padding: 0 14px;
      letter-spacing: 48px;
      width: 336px;
      border: none;
      background: none;
      -webkit-appearance: none;
    }

    .codeInput:focus {
      border: none !important;
      box-shadow: 0 0 0 0 #fff;
    }
  }
}

.inputBox > div:nth-of-type(1) {
  position: absolute;
  width: 100%;

  :global {
    .box-root-container {
      width: 100%;

      .box-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

/* 支付密码结束 */
