:global {

  .bill-sticky-list .sticky-container .am-list-item { padding-left: 0; }
  .bill-sticky-list .sticky-container .am-list-line { padding-right: 0; }
  .bill-sticky-list .sticky-container .am-list-line .am-list-content { padding-top: 0; padding-bottom: 0; }
  .bill-sticky-list .sticky-container .sticky { padding: 7px 15px; transform: none; }

  .wallet-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wallet-col:nth-child(1) {
    border-right: 1px solid #ddd;
  }

  .home-page-div, .home-page-permissions {
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
  }

  .home-page-div {
    background: linear-gradient(45deg, #3a74fc, #59afff);
  }

  .home-page-div1 {
    width: 92%;
    margin: 15px auto;
    padding: 1px;
    background: linear-gradient(45deg,#3a74fc,#59afff);
    border-radius: 8px;
  }

  .home-page-meta {
    margin: 15px 0;

    .ant-card-meta-title, .ant-card-meta-description {
      color: white;
    }

    .ant-card-meta-avatar {
      .ant-avatar-image {
        width: 52px;
        height: 52px;
        background: white;
        overflow: hidden;
      }
    }
  }

  .home-page-meta1 {
    margin: 5px 0;

    .ant-card-meta-title, .ant-card-meta-description {
      color: white;
    }

    .ant-card-meta-avatar {
      .ant-avatar-image {
        width: 52px;
        height: 52px;
        background: white;
        overflow: hidden;
      }
    }
  }

  .home-page-p{
    margin-left: 16%;
    font-size: 24px;
    color: white;
    span{
      font-weight: 600;
    }
  }

  //.list-item {
  //  padding: 0;
  //
  //  .am-list-line {
  //    padding: 0;
  //  }
  //}

  .home-page-open {
    height: 40px;
    background: #ffffff4d;
    margin: 20px -15px -15px;
    text-align: center;
    line-height: 40px;
    color: white;
  }
  .home-page-open1 {
    height: 40px;
    background: white;
    margin: 15px -10px -10px;
    text-align: center;
    line-height: 40px;
    color: #3C5CEC;
    border-radius: 0 0 8px 8px;
  }
  .home-page-permissions{
    background: white;
  }
  .per-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

    img {
      width: 42px;
      margin-bottom: 10px;
    }
  }

  .per-round {
    display: flex;
    margin-top: 15px;
  }

  .wallet-page-round {
    padding: 15px;
    background: white;
    .walletCardFLex {
      padding: 20px 0 15px;
    }

    .ant-list-item {
      border-bottom: 1px solid #dddddd;
    }

    .ant-list-item:last-child {
      border-bottom: none;
    }
  }

  .walletCardFLex {
    margin-bottom: 20px;

    .ant-typography {
      color: white;
    }
  }

  .walletCard {
    margin-bottom: 8px;

    .ant-card-actions {
      background: white;
      border-top: none;
    }
  }

  .wallet-balance {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ant-typography {
      color: white;
    }

    h4 {
      font-size: 18px;
      margin-top: 0.5rem;
      color: white;
    }
  }

  .wallet-list-meta {
    border-bottom: 1px solid #dddddd;

    img {
      width: 40px;
    }

    .ant-list-item-meta {
      align-items: center;
    }
  }

  .wallet-list-meta:last-child {
    border-bottom: none;
  }

  .billing-details {
    margin: 40px 10px 10px;
    background: white;
    border-radius: 4px;
    padding: 15px;

    .icon-title {
      display: flex;
      flex-direction: column;
      text-align: center;

      img {
        width: 60px;
        height: 60px;
        margin: -40px auto 10px;
      }
    }

    .am-list-extra {
      flex-basis: auto !important;
    }
  }
  .ks-Wallet-bill-tab-bar-wrap{
    position: fixed;
    width: 100%;
    z-index: 111;
  }
  .ks-Wallet-bill-content-wrap{
    position: absolute;
    top: 45px;
    width: 100%;
    background: #f0f2f5;
  }
}

.ksWallet{
  :global{
    .am-list-item{
      border-bottom: 1px #e3d9d9  solid;
    }
    .am-input-label{
      font-size: 14px;
    }
    .am-input-control input{
      font-size: 14px;

    }
  }
}
