:root{
  --blue-violet-gradient:linear-gradient(45deg, #b62ae4, #8a8eff); // 蓝紫色渐变
  --red-orange-gradient:linear-gradient(45deg, #ff0000, #ff7e00); // 红橙色渐变
}
.shopCenter {
  :global {
    .shopCard {
      position: absolute;
      width: 96%;
      left: 0;
      right: 0;
      margin: auto;

      .ant-card-body {
        padding: 8px 10px !important;

        .toolImage {
          height: 48px;
          width: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto auto 4px;

          img {
            width: 100%;
          }
        }
      }
    }

    .theZone {
      height: 50px;
      position: absolute;
      width: calc(100% - 16px);
      display: flex;
      justify-content: space-around;

      .secondsKillBtn {
        width: 48%;
        background: var(--red-orange-gradient);
        color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px 0 #ff0000;
      }

      .secondsKillBtn:nth-child(2) {
        background: var(--blue-violet-gradient);
        box-shadow: 0 0 5px 0 #b62ae4;
      }
    }

    .secondsBtn {
      border: none;
      background: linear-gradient(to right, #ff9314, red);
      color: white;
      margin-left: 10px;
    }

    .cart-list-check-box-group {
      width: 100%;

      .ant-checkbox-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 0 !important;

        .ant-checkbox + span {
          display: block;
          width: calc(100% - 24px);
          padding-right: 0;
        }
      }

    }

    .shopListView {
      .am-list-header {
        padding: 9px 15px 9px 15px;

        span {
          display: flex;
          align-items: center;
          font-size: 16px;
          color: rgb(102, 102, 102);
          font-weight: bold;

          img {
            width: 20px;
            margin-right: 6px;
          }
        }
      }

      .am-list {
        top: 0 !important;
        padding-bottom: 0 !important;
      }
    }

    .flexAlignC {
      display: flex;
      align-items: center;
    }

    .buy-num {
      display: flex;
      align-items: center;

      .am-list-item.am-input-item {
        min-height: 20px;
        height: 20px;
        padding: 0;

        .am-list-line {
          padding: 0;
        }
      }
    }


    .detailTie {
      display: flex;
      justify-content: space-between;

      .cart-par {
        width: 50%;
        margin-bottom: 0;
      }
    }

    .shopEmpty {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

:global {
  .img-address {
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: rgb(82, 143, 255);
    background-size: contain !important;
    font-size: 18px;
    font-weight: bold;
  }

  .mall-tabs {
    .am-tabs {
      top: 166px;
    }
  }

  .sign-the-stete {
    padding: 15px;
    background: white !important;

    .state-round {
      border: 1px solid #e5e7ea;
      padding: 12px;
      border-radius: 4px;
      margin-top: 15px;
    }

    .ant-tag:nth-of-type(1) {
      margin-left: -18px;
    }

    .mess-round {
      margin: 6px;

      .mess-title {
        font-size: 18px;

      }
    }
  }

  .shop-listView {
    .am-list {
      top: 0 !important;
    }
  }

  .cer-iframe {
    width: 100%;
    height: 100vh;
    border: none;

    body {
      background: red;
    }

    .child-view {
      header[data-v-4953f4ec] {
        display: none !important
      }

      #pageNo1 {
        margin-top: 0 !important;
      }
    }

  }

  .ReasultMobile {
    padding-top: 20% !important;

    .am-result-pic {
      width: 72px !important;
      height: 72px !important;
      line-height: 72px !important;
    }

    .btn_round {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10%;

      .am-button:nth-of-type(1) {
        margin-bottom: 15px;
      }

      .am-button {
        padding: 0 40px;
      }
    }
  }

  .cer-goodCart {
    padding: 0 !important;

    a.am-button {
      width: 50%;
      border-radius: 0;
      height: 100%;
      line-height: 64px;
    }

    a.am-button::before {
      border: none;
      border-radius: 0;
    }
  }


  .dividerStyle {
    margin: 0 !important;
    background: none !important;
  }

  .spin_round {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .listDiv {
    padding: 12px;

    .ant-checkbox-wrapper {
      display: flex;
      align-items: center;
    }

    .listMess {
      display: flex;
      padding: 10px 0;
      width: 100%;
      justify-content: space-between;


      .listImage {
        width: 138px;
        height: 138px;
        border-radius: 10px;
        border: 1px solid #ddd;
        object-fit: cover;
      }

      .listTitDiv {
        line-height: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //flex: 1;
        width: calc(100% - 150px);

        .listTie {
          font-weight: bold;
          font-size: 16px;
        }

        .iconImg {
          height: 14px;
          margin-right: 6px;
        }

        .flexAlignC {
          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    .listDetail {
      font-size: 12px;
      word-break: break-word;
    }

    .listCont {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
    }
  }

  .cart-list-div {
    position: relative;
  }

  .cart-list-shelves {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000059;
    border-radius: 10px;

    div {
      width: 80%;
      height: 80%;
      border-radius: 50%;
      border: 2px dashed white;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 12px;
    }
  }

  .checkBox-div {
    padding: 12px 0 !important;
    border-bottom: 1px solid #dddddd;

    .ant-checkbox-inner {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    .ant-checkbox-checked::after {
      border: none;
    }

    .ant-checkbox-inner::after {
      width: 8px;
      height: 12px;
    }

    .check-tit {
      font-size: 17px;
    }
  }

  .checkBox-div:nth-last-child(1) {
    border-bottom: none;
  }

  .shopSearch {
    .am-navbar-left, .am-navbar-title, .am-navbar-right {
      flex: none !important;
    }

    .am-navbar-left {
      width: 50px;
    }

    .am-navbar-title {
      flex: 1 !important;

      .am-search {
        width: 100%;
        padding-left: 0;
        background: none;

        .am-search-input {
          border: 1px solid #e6e6e6;
          height: 30px;
        }
      }
    }

    .am-navbar-right {
      margin-right: 0;
    }
  }

  .shop-tooltip-inner {
    color: rgb(0, 0, 0);
    background-color: #eff6ff;
    border: 1px solid #c3ccff;
    border-radius: 3px;
    position: relative;
  }

  .shop-tooltip-inner:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 1px;
    background-color: #eff6ff;
    border: 1px solid #c3ccff;
    transform: rotate(45deg);
    z-index: 0;
    top: -5px;
    left: 8px
  }

  .shop-tooltip-inner-wrapper {
    background-color: #eff6ff;
    position: relative;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 3px
  }

  .badge-mall {
    .am-badge-text {
      margin-Left: 12px;
      color: #499BFB;
      background-color: #499bfb1f !important;
    }
  }

  .page-fault-result {
    .am-result-pic {
      width: 200px !important;
      height: 200px !important;
      background-size: 100% !important;
      background-repeat: no-repeat !important;
      background-position: center !important;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .shop-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .goods-text {
    font-size: 14px;
    margin-top: 4px;
  }

  .goodCart {
    height: 64px;
    background: white;
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    padding: 10px 8%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;

    .ant-btn {
      height: 100%;
      border: none;
      color: white;

    }
  }

  .shopCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 15px;

    .anticon-shopping-cart {
      font-size: 26px;
      color: #999999;
    }

    .ant-typography {
      font-size: 12px;
    }
  }

  .shopCart-box {
    flex: 1;
    border-radius: 50px;
    overflow: hidden;
    height: 100%;

    .ant-btn {
      width: 50%;
      border-radius: initial;
    }

    .ant-btn:nth-of-type(1) {
      background: #ff9314;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }

    .ant-btn:nth-of-type(2) {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }

  .list-class {
    background: white;
  }

  .image-bg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 60%;
    }
  }

  .p-cer-text {
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;

    .ant-typography {
      font-size: 16px;
    }

    img {
      height: 18px;
      margin-left: 6px;
    }
  }

  .cer-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: rgb(255, 0, 0);
      font-size: 1.2rem;
      text-align: center;
      margin-top: 10%;
    }

    .ant-btn {
      margin-top: 10%;
    }
  }

  //.matrix-list-item, .am-list-line {
  //  padding: 0 !important;
  //}

  .matrix-list-item {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;

    .am-list-line {
      width: 70%;
      flex: none;
      padding: 0 !important;

      .am-list-content {
        word-break: break-word;
        white-space: inherit;
      }
    }

    .am-list-thumb {
      margin-right: 0 !important;
    }
  }

  .matrix-list-item-enterprise {
    .am-list-line {
      width: 58%;
    }
  }

  .list-item-img-enterprise {
    width: 100% !important;
    height: 128px !important;
    object-fit: contain;
    object-position: left center;
  }

  .cer-view {
    background: #3c5ce8;
    justify-content: center;
    font-size: 20px;
    color: white;
    letter-spacing: 0.5em;
  }

  .contract {
    .am-list-line, .am-list-item {
      padding: 0;
    }

    .am-list-extra {
      flex-basis: auto !important;
    }

    .ant-card {
      a {
        color: #1890FF !important;
      }
    }

    .contract-list-view {
      .am-list-body {
        background: #f0f2f5 !important;
      }
    }

    .am-tabs-tab-bar-wrap {
      position: fixed;
      width: 100%;
      z-index: 11;
    }

    .am-tabs-content-wrap {
      position: relative;
      top: 44px;
    }
  }

  .am-list-content {
    font-size: 16px !important;
  }
}

.goodsDetails {
  :global {
    .ant-card {
      border-radius: 0 !important;
    }

    //.am-steps-item:last-child {
    //  flex: 1 !important;
    //}
    //
    //.am-steps-item-content {
    //  width: auto !important;
    //
    //  .am-steps-item-description {
    //    font-size: 14px;
    //  }
    //}
    //
    //.am-steps-item-tail:after {
    //  background: #95a5fd !important;
    //}

    //.am-steps-item-icon {
    //  width: 24px !important;
    //  height: 24px !important;
    //  margin-left: 36% !important;
    //
    //  .am-steps-icon {
    //    color: white !important;
    //    background: #95a5fd;
    //    width: 30px !important;
    //    height: 30px !important;
    //    display: inline-block;
    //    border-radius: 50%;
    //    text-align: center;
    //    line-height: 30px;
    //  }
    //}
    //
    //.am-steps-item-tail {
    //  margin-left: 52% !important;
    //  top: 24% !important;
    //}

    .goodSteps {
      padding: 12px 0 !important;
      display: grid;

      .am-steps-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .am-steps-item-tail {
          padding: 0 !important;
          width: 30% !important;
          right: -15% !important;
          margin: auto !important;
          left: auto !important;
          top: 14px !important;

          &:after {
            background-color: #95a5fd !important;
          }
        }

        .am-steps-item-icon {
          margin-left: 0 !important;
          width: 30px !important;
          height: 30px !important;
          margin-right: 0 !important;

          .am-steps-icon {
            color: white !important;
            background: #95a5fd;
            width: 30px !important;
            height: 30px !important;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
          }
        }

        .am-steps-item-content {
          width: 100% !important;
        }
      }
    }
  }
}

.goodModal {
  width: 90% !important;

  :global {
    .listDiv {
      padding: 0 !important;
    }

    .am-modal-header {
      border-bottom: 1px solid #ddd;
    }

    .am-modal-title {
      text-align: left;
    }

    .am-list-item {
      padding: 0;


      .am-list-line {
        padding: 0;
        display: flex;
        align-items: center;

        .am-input-label, #autofocus {
          font-size: 12px;
          padding: 0 !important;
        }

        .am-input-control {
          display: flex;
          height: 100%;
          border-bottom: 1px solid #ddd;
        }
      }
    }

    .am-modal-close {
      border: 1px solid #ddd;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .am-modal-close-x {
        width: 10px;
        height: 10px;
      }
    }

    .am-modal-footer {
      .am-modal-button {
        width: 90%;
        background: #1890ff;
        color: white;
        border-radius: 50px;
        overflow: hidden;
        height: 42px;
        line-height: 42px;
        border-top: none;
        font-size: 14px;
        margin: 0 auto 16px;
      }

      .am-modal-button::before {
        height: 0 !important;
      }
    }
  }
}

:global {
  .errInput {
    .am-input-control {
      font-size: 12px;
      text-align: left;
    }
  }
}

.theorder {
  padding: 8px;

  :global {
    .plusAddress {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
      min-height: 64px;

      i {
        font-size: 20px;
      }

      .add-Text {
        font-size: 18px;
      }
    }

    .ant-card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      margin-bottom: 8px;
    }

    .addre-div {
      flex: 1;

      .ant-typography {
        display: flex;
        align-items: center;
        margin-top: 6px;

        img {
          height: 16px;
          margin-right: 6px;
        }
      }
    }

    .order-card {
      .ant-card-head {
        min-height: 40px;

        .ant-card-head-title {
          display: flex;
          align-items: center;
          font-size: 18px;

          img {
            width: 30px;
            height: 30px;
            margin-right: 6px;
            object-fit: cover;
            border-radius: 5px;
          }
        }
      }

      .listDiv {
        width: 100%;
        padding: 0;

        .flexAlignC {
          justify-content: space-between;
        }
      }
    }
  }
}

.commodityWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  :global {
    .commodityImage {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      border: 1px solid #ddd;
      object-fit: cover;
    }

    .commodityTie {
      font-weight: bold;
      margin-bottom: 5px;
      text-align: left;
    }

    .commodityCon {
      display: flex;
      align-items: center;
      text-align: left;

      .iconImg {
        height: 14px;
        margin-right: 6px;
      }

      .commodityTe {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        width: 100%;
      }
    }
  }
}

.amount {
  font-weight: bold;
  font-size: 16px;
  :global{
    .ant-typography{
      color: red;
    }
  }
}

.extraStyle {
  padding-left: 0 !important;
  margin-right: 0 !important;

  :global {
    .ant-tag {
      margin-top: -1px;
      margin-left: -1px;
      margin-right: 0;
    }
  }
}
